


<%= render partial: 'layouts/errors', locals:{object: @review}%>
<% if @meal %>
    <h1>Add a review for <%= @meal.restaurant.name %> <%= @meal.name %></h1>
    <% else %>
    <h1>Add a review </h1>
<% end %>
<%= form_for(@review) do |f| %>
    <% if params[:meal_id] %>
    <%= f.hidden_field :meal_id %>
    <% else %>
        <div<
         <%= f.label :meal_id, "Select a meal" %>
         <%=  f.collection_select :meal_id, Meal.all, :id, :name, include_blank: true %>
        </div>
        <% end %>

   <div>
        <%= f.label :stars %>
        <%= f.number_field :stars, min:1, max:5 %>
    </div>

    <div>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>

    <div>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
</div>

<%= f.submit %>

<% end %>