
<%= form_for(@review) do |f| %>
    <% if params[:meal_id] %>
    <%= f.hidden_field :meal_id %>
    <% else %>
        <div<
         <%= f.label :meal_id, "Select a meal" %>
         <%=  f.collection_select :meal_id, Meal.all, :id, :name, include_blank: true %>
        </div>
        <% end %>

   <div>
        <%= f.label :stars %>
        <%= f.text_field :stars %>
    </div>

    <div>
        <%= f.label :title %><br>
        <%= f.text_area :title %>
    </div>

    <div>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
</div>

<%= f.submit %>

<% end %>